body {
  margin-left: 3%;
  margin-right: 3%;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  justify-content: stretch;
  vertical-align: baseline;
  background: #0d1625;
  background-image: url(./blob.svg), linear-gradient(135deg, #0f1114 0%, #0d1625 74%);
  background-size: 0.3%;
  background-position-x: 0%;
  background-position-y: 50%;
  background-repeat: repeat;
 
}

.social-bar {
  margin-right: 0;
  text-align: right !important;
  padding: 1%;
}

.social {
  font-family: "IBM Plex Mono", "Courier New", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #5da793;
  padding: 2%;
  text-decoration: none;
  opacity: 1;
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.social:hover {
  text-decoration: underline;
}

.bullet {
  color:#18f1b7;
}

.handle {
  background-color:rgba(54, 255, 203, 0.24);
  color: #fafafa;
}

.intro {
  font-family: "IBM Plex Mono", "Courier New", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: aliceblue;
  font-weight: 900;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 400px;
  font-size: 30px;
  line-height: 110%;
}

.blob-container {
  position: 300px;
  display: flex;

}

.section-header {
  font-family: "Graphik Compact", "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: inline-block;
  background: linear-gradient(
140deg
, #3ebe9c 10%, #141f3d 100%);
  margin-top: 60px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 90%;
  font-size: 200px;
  font-weight: 900 !important;
  text-transform: uppercase;
  padding-bottom: 10%;
  opacity: 1;
  letter-spacing: -4px;
  transition: 0.5s all ease-in-out;
}

.intro:hover {
  opacity: 2;
  transform: scale(1.5);
}

.p, .lol {
  color: aliceblue;
  font-size: 35px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "IBM Plex Mono", "Courier New", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  border-top: 2px dotted rgba(54, 255, 203, 0.24);
  border-bottom: 2px dotted rgba(54, 255, 203, 0.24);
}

.link {
  color: #18f1b7;
}

@media screen and (max-height: 700px){
  .section-header{
      padding-bottom: 30%;
  }
}